{% extends "base.html" %}

{% block content %}
<article>
  <h1>Choose a Strategy for Task Creation</h1>
  <form action="" method="post">
    {% csrf_token %}
    <label for="strategy">Processing Strategy:</label>
    <select id="strategy" name="strategy">
      <option value="">Select a Strategy</option>
      {% for value, description in strategy_choices %}
      <option value="{{ value }}">{{ description }}</option>
      {% endfor %}
    </select><br /><br />
    <button type="submit">Next</button>
  </form>
</article>
{% endblock %}
