{% extends "base.html" %}
{% block content %}
    <article>
        <h1>List of Scheduled Tasks</h1>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Interval</th>
                    <th>Was successfull:</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <a href="{% url 'task_detail' task.id %}">{{ task }}</a>
                        </td>
                        <td>{{ task.get_interval_display }}</td>
                        <td>
                            {% load common_tags %}
                            {% boolean_span task.last_successful %}
                        </td>
                        <td>
                            <form action="{% url 'toggle_task_enabled' task.id %}"
                                  method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <label class="switch">
                                    <input type="checkbox"
                                           name="is_enabled"
                                           onchange="this.form.submit()"
                                           {% if task.is_enabled %}checked{% endif %}>
                                    <span class="slider"></span>
                                </label>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="centered-element padding-high">
            <span class="step-links">
                {% if tasks.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ tasks.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.</span>
                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}">next</a>
                    <a href="?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </article>
{% endblock content %}
