{% extends "base.html" %}
{% block content %}
    <article>
        <h1>Task Details - {{ task }}</h1>
        <p>Endpoint: {{ task.endpoint }}</p>
        <p>Interval: {{ task.get_interval_display }}</p>
        <p>
            Strategy:
            <b>{{ task.processing_strategy }}: </b>
            <div>
                <i> {{ strategy_description }} </i>
            </div>
        </p>
        <p>
            Was successfull last time:
            {% load common_tags %}
            {% boolean_span task.last_successful %}
        </p>
        <p>
            <form action="{% url 'toggle_task_enabled' task.id %}" method="post">
                {% csrf_token %}
                <span>Enabled:</span>
                <label class="switch">
                    <input type="checkbox"
                           name="is_enabled"
                           onchange="this.form.submit()"
                           {% if task.is_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </form>
        </p>
        <p>
            <a href="{% url 'task_delete' task.id %}">Delete Task</a>
        </p>
    </article>
{% endblock content %}
